//- main layout
extends ./layouts/index.pug
//- partials (mixins)
include mixins/pageTitle.pug
include mixins/redirectBtn.pug

block headerScripts
    

block content
    //- form subir archivo 
    +title("Something went wrong")
    div #{error.code}
    div #{error.description}
    +rdirBtn("Register", "/auth/signup")
    +rdirBtn("Log in", "/auth/login")
