//- main layout
extends ./layouts/index.pug
//- partials (mixins)
include mixins/pageTitle.pug
include mixins/redirectBtn.pug

block headerScripts
    

block content
    //- form subir archivo 
    +title("Log in")

    include partials/loginForm.pug

    section(class="p-5")
        +rdirBtn("Create new account", "./signup")
