//- main layout
extends ./layouts/index.pug
//- partials (mixins)
include mixins/pageTitle.pug
include mixins/redirectBtn.pug

block headerScripts
    

block content
    //- form subir archivo 
    +title("Log in")

    include partials/signupForm.pug

    section(class="p-5")
        +rdirBtn("Already have an account? Log in!", "./login")

    script(src="/authentication/arePasswordsEqual.js")
